.homepage {
    padding-top: var(--navbar-height);
    min-height: 100vh;
    text-align: left;
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.homepage > h1 {
    margin-top: 50px;
}

.homepage > p {
    font-weight: 100;
}

.homepage > ul {
    padding-left: 5%;
}

.homepage > h1,
.homepage > h2,
.homepage > h3 {
    text-decoration: underline;
}

.homepage > a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding-left: 3%;
}

.homepage > a:hover {
    color: navy;
    transition: 200ms ease-in-out;
}
